<div class="uk-margin-top">
    <div class="uk-grid uk-grid-match uk-width-1-1  uk-text-center uk-padding-small">
      <div style="background-color:white" class="uk-margin-remove-right uk-panel-box uk-padding-small uk-width-1-6">
        <div class="avatar">
        </div>
        <div class="uk-panel-box uk-padding-small uk-margin-small-top">
          The problem is - I use postcss as syntax for *.css files therefore I'm unable to use autocomplete values as
          they're defined for css only in css.css-data.json.
        </div>
      </div>
      <div class="uk-width-1-3 uk-margin-remove-right">
        <div style="border:2px solid red">
          <div class="uk-panel-box uk-padding-small ">
            The problem is - I use postcss as syntax for *.css files therefore I'm unable to use autocomplete values as
            they're defined for css only in css.css-data.json.
          </div>
        </div>
      </div>
    </div>
  </div>